<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Django Testing</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular-resource.min.js"></script>
    </head>
    <body>

        

        <div class="container">

            <div> Welcome to home page of Django</div>

		</div>

    </body>
</html>