<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Django Testing</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular-resource.min.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Big Data Team 3</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/about/"><i class="fa fa-home"></i> Static Model</a></li>
                    <li><a href="/getData/"><i class="fa fa-home"></i> Dynamic Model</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div style="margin-left:34%"> <h3>Object Classification Using CNN. </h3></div>
            
            <img src="https://raw.githubusercontent.com/Lalit7Jain/ObjectClassification_CNN_Keras/master/cnn.png" height="450px" style="margin-left:40px"/>

		</div>

        
        <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class="container" style="margin-left:28%">
                <div class="navbar-header">
					<a class="navbar-brand" href="/">Team Members -: Rohit Agarwal | Hina Gandhi | Shivam Goel | Lalit Jain </a>
				</div>
            </div>
        </footer>
    </body>
</html>