<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Django Testing</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.4.0-rc.2/angular-resource.min.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Django Testing</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/about/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/getData/" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div> This is platform for Django Big Data Project</div>

		</div>

    </body>
</html>